.FraseImpactante{
	margin: 20px;
}

/* .ItemResultado{
	float: left;
	padding: 10px;
	text-align: center;
	width: 10%;
	height: 230px;
} */

.ItemResultado{
	width: 110px;
	text-align: center;
	padding: 10px;
}

.Imagem{
	width: 100%;
}

.Titulo{
	font-size: 12px;
}

.row [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.row.Resultado{
	display: -webkit-flex;
	display: flex; 
}

.pagination-sm{
	margin: 0 auto;
    width: 400px;
}

a:not([href]):not([tabindex]){
	color: rgb(0, 123, 255);
	text-decoration: none;

}